nav .banner {
  background-color: rgb(235, 235, 235);
  z-index: 1;
}
nav .banner .nav-logo {
  height: 50px;
}
nav .banner .menu-button {
  border: none;
}
nav .banner .menu-button .bar {
  height: 5px;
  width: 30px;
  display: block;
  margin: 3px auto;
  background-color: black;
  transition: all 0.5s;
}
nav .banner .menu-button.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
nav .banner .menu-button.active .bar:nth-child(2) {
  transform: rotate(45deg);
}
nav .banner .menu-button.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
nav .dropdown {
  position: absolute;
  top: 20px;
  background-color: rgb(235, 235, 235);
  transition: all 0.5s;
}
nav .dropdown .nav-menu {
  height: 30px;
  justify-content: right;
  text-transform: uppercase;
  list-style: none;
}
nav .dropdown .nav-menu a {
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
nav .dropdown.visible {
  top: 50px;
}

main {
  font-size: 16px;
  text-align: justify;
  background-color: rgb(235, 235, 235);
}
main #home .carousel-img {
  height: 100vh;
  position: relative;
}
main #home .carousel-info {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
main #home .carousel-logo {
  width: 40%;
}
main #home .dates {
  color: white;
}
main #home .ticket-button {
  border: 1px solid white;
  transition: none;
}
main #home .ticket-button:active {
  background-color: white;
}
main #home .ticket-button:active a {
  color: black;
}
main #home .ticket-button a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
main #about {
  height: 100vh;
  position: relative;
}
main #about .about-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #about .video-container {
  width: 60%;
}
main #about .blurb-container {
  width: 60%;
}
main #venue {
  height: 100vh;
  position: relative;
}
main #venue .venue-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #venue .venue-container .vb-container {
  width: 80%;
}
main #venue .venue-container .vb-container .venue-img {
  width: 60%;
}
main #venue .venue-container .vb-container .vb-blurb .modal-button {
  margin: 0 auto;
  border: 1px solid black;
  text-transform: uppercase;
  transition: none;
}
main #venue .venue-container .vb-container .vb-blurb .modal-button:active {
  color: white;
  background-color: black;
}
main #venue .venue-container .support-container .support-blurb {
  font-size: 0.75rem;
}
main #venue .venue-container .support-container .supporter {
  height: 2rem;
  margin: 0 10px;
}
main #venue #vb-modal {
  font-size: 0.75rem;
}
main #venue #vb-modal .modal-header {
  background-color: rgb(241, 241, 233);
}
main #venue #vb-modal .modal-header .modal-logo {
  height: 50px;
}
main #venue #vb-modal .modal-header .close {
  border: none;
  font-size: 2rem;
  background-color: transparent;
}
main #venue #vb-modal .modal-body {
  height: 60vh;
  overflow-y: auto;
  background-color: rgb(254, 254, 245);
}
main #venue #vb-modal .modal-footer {
  background-color: rgb(241, 241, 233);
}
main #venue #vb-modal .modal-footer .donate {
  margin: 0 auto;
  border: 1px solid rgb(209, 89, 53);
  text-transform: uppercase;
  transition: none;
}
main #venue #vb-modal .modal-footer .donate:active {
  background-color: rgb(209, 89, 53);
}
main #venue #vb-modal .modal-footer .donate:active a {
  color: white;
}
main #venue #vb-modal .modal-footer .donate a {
  color: rgb(209, 89, 53);
  text-decoration: none;
}
main #press {
  height: 100vh;
  position: relative;
  font-family: monospace;
}
main #press .reviews {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
main #press .review {
  text-align: center;
}
main #press .source {
  width: 100px;
}
main #contact {
  height: 100vh;
  position: relative;
}
main #contact .contact-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #contact .contact-container textarea {
  resize: none;
}
main #contact .contact-container .send {
  margin: 0 auto;
  border: 1px solid black;
  text-transform: uppercase;
  transition: none;
}
main #contact .contact-container .send:active {
  color: white;
  background-color: black;
}/*# sourceMappingURL=style.css.map */er {
  width: 100%;
}
#skills .skills-container .box-container .box {
  width: 20%;
  aspect-ratio: 1;
  position: relative;
  border-radius: 0.5rem;
}
#skills .skills-container .box-container .box * {
  transition: all 0.5s;
}
#skills .skills-container .box-container .box .box-blurb {
  position: absolute;
  font-size: 0.75rem;
  color: white;
  opacity: 0;
}
#skills .skills-container .box-container .box .box-blurb .heading {
  font-size: initial;
}
#skills .skills-container .box-container .box .screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
#skills .skills-container .box-container .box .screen-container #development {
  background-color: rgb(151, 208, 242);
}
#skills .skills-container .box-container .box .screen-container #design {
  background-color: rgb(239, 198, 70);
}
#skills .skills-container .box-container .box .screen-container #deployment {
  background-color: rgb(108, 111, 137);
}
#skills .skills-container .box-container .box .screen-container #seo {
  background-color: rgb(231, 137, 69);
}
#skills .skills-container .box-container .box .screen-container #qa {
  background-color: rgb(48, 77, 107);
}
#skills .skills-container .box-container .box .screen-container .screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  border-radius: 0.5rem;
}
#skills .skills-container .box-container .box .screen-container .screen .screen-icon {
  font-size: 3rem;
  color: white;
}
#skills .skills-container .box-container .show .box-blurb {
  position: absolute;
  transform: translateY(3.5rem);
  opacity: 1;
}
#skills .skills-container .box-container .show .screen-container {
  height: 35%;
  padding: 1rem;
}
#skills .skills-container .box-container .show .screen-container .screen {
  border-radius: 50%;
}
#skills .skills-container .box-container .show .screen-container .screen .screen-icon {
  font-size: 1rem;
}
#skills .skills-container .logo {
  height: 1.5rem;
  margin: 0.25rem;
}

#portfolio {
  min-height: 100vh;
  position: relative;
  scroll-snap-align: center;
  background-color: rgb(240, 174, 83);
}
#portfolio .portfolio-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#portfolio .portfolio-container a {
  color: black;
  text-decoration: none;
}
#portfolio .portfolio-container a .mockup {
  height: 40vh;
}
#portfolio .portfolio-container a .portfolio-blurb {
  text-align: justify;
}
#portfolio .portfolio-container a .project-languages {
  font-family: monospace;
  font-weight: bold;
}

#contact {
  min-height: 100vh;
  position: relative;
  scroll-snap-align: center;
  color: white;
  background-color: rgb(22, 54, 83);
}
#contact .contact-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .contact-container textarea {
  resize: none;
}
#contact .contact-container button {
  border: 1px solid rgb(239, 198, 70);
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(239, 198, 70);
}
#contact .contact-container button:hover {
  color: black;
  background-color: rgb(239, 198, 70);
}
#contact .credit {
  position: absolute;
  bottom: 0.25rem;
  font-size: 0.75rem;
  text-align: center;
}
#contact .credit a:hover {
  color: rgb(239, 198, 70);
}

.dark nav {
  box-shadow: none !important;
}
.dark #home,
.dark #about,
.dark #contact {
  background-color: rgb(34, 37, 41);
}
.dark #home *,
.dark #about *,
.dark #contact * {
  color: white;
}
.dark #skills {
  background-color: rgb(34, 37, 41);
}
.dark #skills * {
  color: white;
}
.dark #skills .logo {
  filter: grayscale(100%) invert(75%) brightness(150%);
}
.dark #portfolio {
  background-color: rgb(34, 37, 41);
}
.dark #portfolio * {
  color: white;
}
.dark #portfolio .carousel-control-prev,
.dark #portfolio .carousel-control-next {
  filter: invert(100%);
}/*# sourceMappingURL=style.css.map */